@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url("https://github.com/Dima19081988/Diploma/blob/main/fonts/OpenSans-Regular.woff"),
    url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"),
    url("https://github.com/Dima19081988/Diploma/blob/main/fonts/OpenSans-Bold.woff"),
    url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: normal;
}

body,
img,
h1,
h2,
h3,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

:root {
  --color-lightblue: #f4f7f6;
  --color-gold: #b59f5b;
  --color-form-hover: #323232;
  --color-white: #ffffff;
  --color-medium-black: #0f0d0e;
  --color-grey: #706f70;
  --color-lightgrey: #eeeeee;
  --color-smokegold: #938659;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.header {
  margin: auto;
  padding: 30px 0 145px 0;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/banner-bg.jpg"), url("C:/Users/Admin/Desktop/diplom/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0/0.4);
  z-index: -1;
}

.wrp {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.header-logo {
  width: 179px;
}

.header-menu-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  color: var(--color-white);
  text-transform: uppercase;
}

.menu-list-item:nth-of-type(n + 2) {
  margin-left: 35px;
}

.menu-list-item:hover {
  content: "";
  text-decoration: underline;
}

.burger-menu {
  display: none;
}

.title-text {
  max-width: 690px;
  color: var(--color-white);
  margin: 65px auto 0;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 45px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  hyphens: auto;
}

/*trends*/

.trends {
  padding-top: 63px;
}

.block-title {
  margin: 0 0 43px 0;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: var(--color-medium-black);
  text-transform: uppercase;
  position: relative;
}

.block-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0);
}

.post-trends {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.trend-box {
  width: 25%;
  height: 320px;
  padding: 15px 20px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
}

.trend-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0/0.4);
  z-index: -1;

}

.trend-first {
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/trend1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-second {
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/trend2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-third {
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/trend3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-four {
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/trend4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 4px solid var(--color-smokegold);
  padding: 40px 33px;
}

.trend-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  margin-top: 14px; 
}

/*main*/

.conteiner {
  max-width: 1200px;
  margin: auto;
  padding-top: 64px;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  display: flex;
  box-sizing: border-box;
}
.posts {
  width: 780px;
  margin-right: 95px;
}
.post {
  width: 793px;
  display: flex;
  margin-bottom: 60px;
}

.post-picture {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content-post {
  margin-left: 30px;
}

.list-menu-post {
  display: flex;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: var(--color-gold);
  text-transform: uppercase;
}

.post-list-item:nth-of-type(n + 2) {
  margin-left: 20px;
}

.post-title {
  margin-top: 15px;
  margin-bottom: 35px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-medium-black);
  text-transform: uppercase;
}

.post-date-author {
  display: inline-block;
  margin-bottom: 51px;
}

.date {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #888888;
}

.author {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #000000;
  margin-left: 15px;
}

.post-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: var(--color-medium-black);
}

/*aside*/

.adds {
  width: 270px;
  min-height: 1424px;
}

.new-posts {
  min-height: 500px;
  margin: auto;
  padding-top: 0;
  margin-bottom: 60px;
}

.aside-title {
  margin: 0 auto 46px;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: var(--color-medium-black);
  text-transform: uppercase;
  position: relative;
}

.aside-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.new-post {
  display: flex;
  width: 270px;
}

.new-post:nth-of-type(n + 2) {
  margin-top: 22px;
}

.new-post-description {
  padding-top: 0;
}

.new-post-picture {
  width: 70px;
  height: 70px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.new-posts-link {
  margin-top: 10px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-medium-black);
  text-transform: uppercase;
}

.new-posts-link:hover {
  color: var(--color-gold);
}

.search {
  margin-bottom: 60px;
}

.form-row-search {
  display: inline-block;
  position: relative;
}

.field-search {
  width: 270px;
  height: 48px;
  padding: 0 0 0 19px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  border: none;
  background-color: var(--color-lightblue);
  box-sizing: border-box;
}

.field-search:focus-visible {
  outline: none;
}

.field-search:focus {
  outline: 2px solid var(--color-gold);
}

.button-search {
  padding: 0;
  width: 48px;
  height: 48px;
  border: none;
  position: absolute;
  background-color: var(--color-gold);
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.button-search:hover {
  background-color: var(--color-form-hover);
  outline: 1px solid var(--color-gold);
}

.mailing {
  margin-bottom: 60px;
}

.form-row-mailing {
  display: inline-block;
  position: relative;
}

.field-email {
  width: 100%;
  height: 48px;
  padding: 0 0 0 19px;
  margin-bottom: 17px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  border: none;
  background-color: var(--color-lightblue);
  box-sizing: border-box;
}

.field-email:focus-visible {
  outline: none;
}

.field-email:focus {
  outline: 2px solid var(--color-gold);
}

.submit-email {
  width: 100%;
  height: 48px;
  border: none;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-gold);
  cursor: pointer;
}

.submit-email:hover {
  background-color: var(--color-form-hover);
  outline: 1px solid var(--color-gold);
}

.tegs {
  margin-bottom: 60px;
}

.tegs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 6px 6px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: var(--color-grey);
  text-transform: uppercase;
}

.tegs-list-item {
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  border: 4px solid var(--color-lightgrey);
}

.tegs-list-item:hover {
  color: var(--color-medium-black);
}


.themes-list {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: var(--color-grey);
  line-height: 47px;
}

.themes-list-item {
  border-bottom: 1.5px solid var(--color-lightgrey);
}

.themes-list-item:hover {
  color: var(--color-medium-black);
}

.theme-count {
  vertical-align: super;
  color: var(--color-gold);
}

/*goods*/

.goods {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px 0 15px;
}

.post-goods {
  display: flex;
  gap: 62px;
  justify-content: space-between;

}

.goods-box {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0;
}

.item-first {
  max-width: 310px;
  height: 205px;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-desk1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-second {
  max-width: 310px;
  height: 205px;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-desk2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-third {
  max-width: 310px;
  height: 205px;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-desk3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.goods-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: var(--color-medium-black);
  text-transform: uppercase;
}

.post-link {
  color: var(--color-gold);
}

.goods-content {
  padding-top: 55px;
  margin-top: -27px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  outline: 3px solid #d3c59d;
  outline-offset: 15px;
  margin-bottom: 24px;
}

.goods-footer {
  display: flex;
  justify-content: space-between;
}

.goods-prices {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "OpenSans-Bold", sans-serif;
  color: var(--color-medium-black);
  text-align: left;
}

.goods-price {
  font-size: 20px;
}

.goods-price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.goods-button {
  width: 135px;
  height: 48px;
  text-transform: uppercase;
  background-color: var(--color-gold);
  color: var(--color-white);
  cursor: pointer;
  border: none;
}

.goods-button:hover {
  background-color: var(--color-form-hover);
  outline: 1px solid #b9b29b;
}

/*Footer*/

.footer {
  max-width: 1170px;
  margin: 64px auto 0;
  padding-top: 0;
  padding-bottom: 41px;
  box-sizing: border-box;
}

.social {
  margin-bottom: 73px;
}

.row-social {
  position: relative;
  max-width: 1170px;
  display: flex;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-lightblue);
}

.link {
  display: block;
  width: 20px;
  height: 20px;
}

.row-item:nth-of-type(n + 2) {
  margin-left: 30px;
}

.social-1 {
  width: 20px;
  height: 20px;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.social-2 {
  width: 20px;
  height: 20px;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/001-pinterest.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.social-3 {
  width: 20px;
  height: 20px;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/003-tumblr.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.copyrights {
  max-width: 1170px;
  text-align: center;
}

.link-copyrights {
  display: inline-block;
  font-family: "OpenSans-Bold";
  font-size: 12px;
  color: #999999;
}

/*popup*/

.conteiner-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.4);
  z-index: 1;
}

.box-popup {
  position: absolute;
  width: 330px;
  height: 536px;
  padding: 54px 30px;
  background-color: var(--color-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.popup-block-title {
  margin: 0 0 43px 0;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: var(--color-medium-black);
  text-transform: uppercase;
  position: relative;
}

.popup-block-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  top: 35px;
  left: 130px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  color: #000000;
}

.form-text {
  font-family: inherit;
  display: inline-block;
  margin-bottom: 10px;
}

.box-option-group {
  margin-bottom: 34px;
}

.option-list {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 19px 17px 19px 17px;
  margin: 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  color: #000000;
  background-color: var(--color-lightblue);
  border: none;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 7px 18px;
  background-position: right 17px center; 
}

.option-list:focus-visible {
  outline: none;
}

.option-list:focus {
  outline: 2px solid var(--color-gold);
}

/*Radio group*/

.box-radio-group {
  margin-bottom: 34px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-answers {
  display: flex;
  flex-direction: row;
}

.radio-answer {
  display: none;
}
.radio-text {
  margin-right: 17px;
}

.radio-text:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/form-empty-circle.svg");
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center center;
}

.radio-answer:checked + .radio-text:before {
  background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/form-circle.svg");
}

/*Textarea*/

.textarea-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.textarea-field-content {
  resize: none;
  height: 130px;
  border: none;
  background-color: var(--color-lightblue);
}

.textarea-field-content:focus-visible {
  outline: none;
}

.textarea-field-content:focus {
  outline: 2px solid var(--color-gold);
}

/*popup button*/

.feedback-button {
  width: 100%;
  padding: 19px 123px;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-gold);
  border: none;
}

.feedback-button:focus-visible {
  outline: none;
}

.feedback-button:hover {
  background-color: var(--color-form-hover);
  outline: 1px solid #b9b29b;
}

/*popup-close*/

.close-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0px;
  top: -30px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

/*.box-popup-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  display: inline-flex;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}*/


/*@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .post-trends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}*/


@media (min-width: 641px) and (max-width: 1199px), (orientation: portrait) {
  
  .header {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/banner-bg-tablet.jpg");
  }

  .header-menu {
    display: none;
  }

  .burger-menu {
    display: inline-block;
    width: 23px;
    height: 17px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/icons8-hamburger-menu.svg");
    background-size: 23px 17px;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .title-text {
    max-width: 603px;
    font-size: 40px;
    hyphens: auto;
  }

  .post-trends {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .trend-box {
    width: 100%;
    height: 245px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: end;
  }

  .trend-title {
    font-size: 17px;
  }

  .conteiner {
    max-width: 770px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .posts {
    max-width: 390px;
    margin-right: 35px;
  }

  .post {
    display: flex;
    flex-direction: column;
    max-width: 390px;
  }

  .post-picture {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .content-post {
    margin-left: 0px;
  }

  .post-title {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 38px;
  }

  .post-date-author {
    display: inline-block;
    margin-bottom: 33px;
  }

  .post-text {
    hyphens: auto;
  }

  .goods {
    max-width: 770px;
  }  

  .post-goods {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item-first {
    max-width: 290px;
    max-height: 227px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-tablet1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-second {
    max-width: 290px;
    max-height: 227px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-tablet2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-third {
    max-width: 290px;
    max-height: 227px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-tablet3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    max-width: 770px;
  }

}


@media (max-width: 640px), (orientation: portrait) {

  .header {
    width: 100%;
    position: relative;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;  
   }

  .header-menu {
    display: none;
  }

  .header-line {
    display: flex;
    flex-direction: column;
  }

  .header-logo {
    margin-top: 174px;
    margin-bottom: 45px;
    max-width: 270px;
  }

  .burger-menu {
    order: -1;
    display: inline-block;
    position: absolute;
    top: 32px;
    right: 16px;
    width: 23px;
    height: 17px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/svg/icons8-hamburger-menu.svg");
    background-size: 23px 17px;
  }

  .title-text {
    margin-top: 0;
    max-width: 275px;
    font-size: 26px;
    line-height: 36px;
  }

  .block-title {
    font-size: 16px;
  }

  .post-trends {
    display: flex;
    flex-direction: column;
  }

  .trend-box {
    width: 100%;
  }

  .conteiner {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }

  .posts {
    max-width: 92%;
    margin: 0;
  }

  .post {
    flex-direction: column;
    max-width: 92%;
    margin-bottom: 33px;
    position: relative;
  }

  .post:last-child {
    margin-bottom: 44px;
  }

  .post:after {
    content: "";
    position: absolute;
    display: block;
    width: 330px;
    height: 3px;
    background-color: #e1d9bd;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .post-picture {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .content-post {
    margin-left: 0px;
  }

  .post-title {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .post-date-author {
    display: inline-block;
    margin-bottom: 20px;
  }

  .post-text {
    hyphens: auto;
  }

  .adds {
    width: 330px;
  }

  .aside-title {
    font-size: 16px;
  }

  .new-posts {
    margin-bottom: 44px;
  }

  .search {
    margin-bottom: 44px;
  }

  .mailing {
    margin-bottom: 44px;
  }
  .tegs {
    margin-bottom: 44px;
  }

  .field-search {
    width: 330px;
  }

  .field-email {
    width: 330px;
  }

  .submit-email {
    width: 330px;
  }

  .goods {
    max-width: 92%;
    margin: 44px 0 0 0;
  }

  .post-goods {
    flex-direction: column;
    gap: 25px;
  }

  .goods-box {
    width: 284px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-first {
    max-width: 284px;
    max-height: 284px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-mobile1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-second {
    max-width: 284px;
    max-height: 284px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-mobile2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-third {
    max-width: 284px;
    max-height: 284px;
    background-image: url("https://github.com/Dima19081988/Diploma/blob/main/images/shop-item-mobile3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .goods-title {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 20px;
    color: var(--color-medium-black);
    text-transform: uppercase;
  }

  .post-link {
    color: var(--color-gold);
  }

  .goods-content {
    padding-top: 55px;
    margin-top: -27px;
    display: flex;
    flex-direction: column;
    outline: 3px solid #d3c59d;
    outline-offset: 15px;
    margin-bottom: 24px;
  }

  .goods-footer {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }

  .social {
    margin-top: 44px;
    margin-bottom: 50px;
  }

}
